/* Reset margin & padding */
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: #f4f4f4;
}

/* Judul di atas peta */
.title {
  text-align: center;
  background: #4a90e2;
  color: white;
  padding: 10px 0;
  margin: 0;
  font-size: 1.5em;
}

/* Area peta */
#map {
  height: 90vh; /* 90% tinggi layar */
  width: 100%;
  border-top: 3px solid #4a90e2;
}
